.home__presentation {
  width: 100%;
  height: 100vh;
  background-image: url(../../assets/images/home-bottle.jpg);
  background-size: 100% auto;
}

.home__presentation-container {
  width: 50%;
  padding-left: 100px;
}
.presentation__text {
  font-family: "Cako";
  font-size: 80px;
  letter-spacing: 0.6px;
  line-height: 80px;
  color: var(--black);
  margin-bottom: 30px;
}

.presentation__text-short {
  font-family: var(--font-smono);
  color: var(--black);
  font-size: 1rem;
  letter-spacing: 0.8px;
  margin-bottom: 30px;
}

.-btn-shop {
  width: 181px;
  height: 54px;
}

.home__spire {
  width: 100%;
  height: auto;
  background-color: var(--black);
}

.home__spire-line {
  width: 3px;
  height: 72px;
  background-color: var(--brown);
  margin: 0 auto;
}
.spire__container {
  width: 100%;
  margin-bottom: 20px;
}
.spire__left {
  width: 50%;
  height: auto;
}

.spire__img_reference {
  height: 540px;
  background-image: url(../../assets/images/Spire-backg.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top 50px center;
  width: 255px;
  position: relative;
}

.spire__img {
  content: url("../../assets/images/Spire-transparent.png");
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 23px;
  text-align: center;
  height: 470px;
}

.spire__text {
  color: var(--white1);
  font-family: "cako";
  font-size: 30px;
  margin-bottom: 10px;
}

.spire__img-deco {
  height: 20px;
  content: url("../../assets/images/spire-deco.png");
}

.spire_right {
  width: 50%;
  height: auto;
}

.spire__right__content {
  width: 410px;
  height: auto;
  padding-top: 37px;
}
.spire__right__title-container {
  width: 100%;
  margin-bottom: 20px;
}
.spire__right__title {
  font-family: var(--font-smono);
  font-size: 15px;
  color: var(--white1);
  letter-spacing: 2.25px;
  flex: 1;
}

.-title-right {
  text-align: right;
}

.spire__line__container {
  flex: 4;
}

.spire__line {
  height: 2.5px;
  width: 91%;
  margin: 0 auto;
  background: var(--white1);
}

.spire__right__text-big {
  font-family: "cako";
  font-size: 60px;
  letter-spacing: 0.6px;
  line-height: 60px;
  text-align: center;
  color: var(--white1);
  margin-bottom: 49.8px;
}

.spire__right__text-small {
  font-family: var(--font-smono);
  color: var(--white1);
  text-align: center;
  letter-spacing: 0.8px;
  line-height: 28px;
  margin-bottom: 46px;
}

.-btn-spire {
  color: var(--white1);
  border: var(--beigeDark) solid 1px;
  width: 203px;
  padding: 14px;
  outline: transparent solid 1px;
  border-radius: 3px;
  margin: 0;
}

.featured {
  width: 100%;
  height: 930px;
  background-color: var(--beige);
  padding-top: 104px;
}

.featured__title {
  margin: 0 auto;
  width: 228px;
  justify-content: space-between;
  margin-bottom: 35px;
}

.featured__title-icon {
  height: 22px;
  content: url(../../assets/icons/star-black.png);
}

.featured__title-text {
  width: 82px;
  font-size: 15px;
  letter-spacing: 2.25px;
  font-family: var(--font-smono);
}

.cocktails {
  width: 100%;
  height: 860px;
  background-image: url(../../assets/images/cocktails-Section.jpg);
  background-size: 100% auto;
}

.cocktails__container {
  width: 540px;
}
.cocktails__title {
  width: 100%;
  padding: 0 35px;
  margin-bottom: 17px;
}
.cocktails__title-text {
  flex: 1;
  text-align: center;
  font-family: "cako";
  font-size: 60px;
  letter-spacing: 0.6px;
  font-weight: normal;
  color: var(--black);
}

.cocktails__icon {
  content: url(../../assets/icons/star-black.png);
  height: 22px;
}

.cocktails__subtitle {
  width: 100%;
  text-align: center;
  font-family: "cako";
  font-size: 30px;
  line-height: 38px;
  font-weight: normal;
  color: var(--black);
  margin-bottom: 30px;
}

.cocktails__subtitle-small {
  width: 288px;
  font-family: var(--font-smono);
  letter-spacing: 0.8px;
  text-align: center;
  line-height: 28px;
  margin-bottom: 30px;
}

.-btn-cocktails {
  width: 258px;
  height: 53px;
  outline: transparent solid 1px;
  margin: 0 auto;
}

.wheated {
  width: 100%;
  height: 860px;
  position: relative;
}

.wheated:before {
  content: "";
  width: 3px;
  height: 144px;
  background: var(--black);
  top: -72px;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
}
.wheated__left {
  flex: 1;
  background-image: url(../../assets/images/wheated1.jpg);
  background-size: 100% auto;
}
.wheated__center {
  flex: 1.09;
  background-color: var(--beige);
  padding-top: 35px;
}
.wheated__right {
  flex: 1;
  background-image: url(../../assets/images/wheated2.jpg);
  background-size: 100% auto;
}

.wheated__text {
  width: 336px;
  font-family: "Cako";
  font-size: 30px;
  letter-spacing: 0.6px;
  line-height: 38px;
  text-align: center;
  padding: 15px 0;
}

.-btn-wheated {
  width: 245px;
  height: 53px;
  outline: transparent solid 1px;
  padding: 0;
  margin: 35px auto 0 auto;
}

.series {
  width: 100%;
  height: 1045px;
  position: relative;
  background-color: var(--orange);
  padding-top: 110px;
}
.series:before {
  content: "";
  width: 3px;
  height: 120px;
  background: var(--black);
  top: -60px;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
}
.series:after {
  content: "";
  width: 3px;
  height: 120px;
  background: var(--black);
  bottom: -60px;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
}

.series__marquee {
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
}

.series__marquee span {
  font-family: "cako";
  font-size: 85px;
  color: var(--black);
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 100%;
  white-space: nowrap;
  padding: 0 0 0 2.2rem;
  border-bottom: 30px;
}

.behalf {
  background-color: var(--beige);
  min-height: 413px;
}

.behalf__text {
  font-family: "cako";
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  margin-right: 13px;
  color: var(--black);
  position: relative;
}
.behalf__text:hover {
  color: var(--orangeDark);
  user-select: none;
}

.behalf__text:hover .behalf__img {
  display: block;
}

.behalf__container {
  max-width: 70%;
  flex-wrap: wrap;
}
.behalf__img {
  width: 70px;
  height: 70px;
  position: absolute;
  top: -75px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 50%;
  display: none;
}

.-behalf__text-start {
  color: var(--orangeDark);
  margin-right: 10px;
}

.behalf__container .cocktails__icon {
  margin-right: 10px;
}
