.nav__menu {
  position: absolute;
  top: 71.63px;
  left: 0;
  width: 100%;
  height: calc(100vh - 109.63px);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}
.nav__menu[aria-expanded="true"] {
  max-height: calc(100vh - 109.63px);
}
.menu__left {
  width: 50%;
  height: 100%;
  background-color: var(--beige);
}

.menu__left-img {
  height: 100%;
  width: auto;
}

.-story {
  content: url("../../assets/images/story.png");
}
.-journal {
  content: url("../../assets/images/journal.png");
}
.-recipes {
  content: url("../../assets/images/recipes.png");
}
.-spire {
  content: url("../../assets/images/spire.png");
}
.-flagship {
  content: url("../../assets/images/flagship.png");
}

.menu__right {
  width: 50%;
  height: 100%;
  background: var(--yellow1);
  padding: 50px 60px 50px 90px;
}

.menu__right-title {
  font-family: var(--font-smono);
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.15em;
  margin-bottom: 22px;
}

.menu__list-item {
  height: 80px;
  font-family: "Cako";
  font-size: 44px;
  color: var(--black);
  letter-spacing: 0.06rem;
  transition: all 0.3s ease-in-out;
}
.menu__list-item span {
  position: relative;
}

.menu__list-item span::before {
  position: absolute;
  content: "";
  height: 1.5px;
  width: 12px;
  background: var(--black);
  left: -40px;
  top: 32px;
  margin-left: 20px;
  opacity: 0;
  transition: all 0.7s ease,opacity 0.1s linear;
}

.menu__list-item span::after {
  position: absolute;
  content: "";
  height: 0.5px;
  width: 10px;
  background: var(--black);
  right: -45px;
  top: 26.6px;
  margin-right: 22px;
  opacity: 0;
  transition: all 0.7s ease,opacity 0.1s linear;
}
.menu__list-item:hover span::before {
  width: 32px;
  margin: 0px;
  opacity: 1;
}

.menu__list-item:hover span::after {
  width: 32px;
  margin: 0px;
  opacity: 1;
}

@keyframes bounce {
  0% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  52% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.-animate {
  animation: bounce 0.8s;
}
