.navBar {
  width: 100%;
}
.navBar__ad {
  height: 38px;
  background: var(--yellow1);
  font-family: var(--font-smono);

  position: relative;
  text-align: center;
}

.navBar__ad:hover {
  cursor: pointer;
  filter: brightness(95%);
}
.navBar__text {
  letter-spacing: 0.1rem;
  font-size: 0.75rem;
  font-weight: 400;
}
.navBar__text > svg {
  margin-left: 15px;
  margin-right: 13px;
  transition: all 0.2s ease-in-out;
}
.navBar__ad:hover .navBar__text > svg {
  width: 33px;
  margin-right: 0;
}

.navBar__ad__close {
  position: absolute;
  right: 18px;
  transition: all 0.1s ease-in-out;
}

.navBar__ad__close:hover {
  scale: 1.1;
}

.nav {
  padding: 1rem 2rem;
  background: var(--beige);
  border-bottom: 1px solid #b8ada0;

  -webkit-box-shadow: 0px -1px 1px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px -1px 1px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px -1px 1px 0px rgba(0, 0, 0, 0.08);
  position: relative;
  z-index: 10;
}
.nav__link-logo {
  flex: 2;
}
.nav__logo {
  height: 28px;
  filter: brightness(40%);
}
.nav__item-btn {
  margin-right: 50px;
  font-family: var(--font-smono);
  color: var(--black);
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 1.4px;
}
.item__arrow {
  background-image: url(../assets/icons/sort-down.png);
  background-position: center top 5px;
  background-repeat: no-repeat;
  background-size: 62% auto;
  width: 20px;
  height: 20px;
  opacity: 85%;
  margin-left: 5px;
}

.nav__buy-btn {
  font-family: var(--font-smono);
  font-size: 1rem;
  color: var(--white1);
  background: var(--black);
  border-radius: 2px;
  letter-spacing: 1.4px;
  padding: 0.42em 1.8em;
  margin-right: 12px;
  border: 1px solid transparent;
  outline: 2px solid var(--beige);
  transition: all 0.2s ease-in-out;
}
.nav__buy-btn:hover {
  background: var(--white1);
  color: var(--black);
  border-color: var(--beige);
  border-radius: 1px;
  outline: var(--white1) solid 4px;
}

.nav__cart-btn {
  width: 33px;
  height: 33px;
  background-image: url(../assets/icons/cart.png);
  filter: brightness(35%);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin-right: 5.2vw;
}
