.inspired__container {
  width: 100%;
  min-height: 100vh;
  background-color: var(--beige);
}

.hero__section {
  width: 78%;
  margin: 0 auto 150px auto;
}
.hero__container {
  width: 100%;
  padding-top: 70px;
}

.hero__head {
  width: 100%;
  margin-bottom: 7px;
}

.hero__title {
  font-family: "Cako";
  font-size: 100px;
  letter-spacing: 0.6px;
  line-height: 100px;
  font-weight: 400;
  flex: 1;
  color: var(--black);
}
.subtitle__container {
  flex: 1;
  justify-content: end;
  align-items: end;
}
.subtitle__text {
  height: 40px;
  font-family: var(--font-smono);
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 2.25px;
  line-height: 15px;
  color: var(--black);
  position: relative;
  text-align: right;
}
.subtitle__text:before {
  content: "";
  position: absolute;
  width: 230%;
  height: 2px;
  background-color: black;
  bottom: 22px;
  left: -240%;
}

.hero__image {
  width: 95%;
  margin-left: 5%;
}

.inspired__others {
  width: 100%;
}

.inspired__others-title {
  width: 550px;
  font-family: "Cako";
  font-size: 60px;
  font-weight: 400;
  line-height: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.inspired__others-container {
  width: 95%;
  margin: 0 auto;
  padding-bottom: 118px;
}

.others__content {
  flex: 1;
}

.others__img {
  width: 680px;
  margin-bottom: 13px;
}

.-others-left {
  content: url(../../assets/images/inspired-others1.webp)
}
.-others-right {
  content: url(../../assets/images/inspired-others2.webp)
}
.others__content span{
  position: relative;
  width: 1px;
  height: 70px;
  background-color: var(--black);
  margin: 23px 0;
 }
.inspired__others-subtitle {
  font-family: 'Cako';
  letter-spacing: 0.6px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 35px;
}

.-others-btn {
  width: 340px;
  height: 52px;
}