:root {
  --yellow1: #ffd565;
  --yellow2: #f0deb0;
  --beige: #e4ddcd;
  --black: #1e1e1e;
}

* {
  box-sizing: border-box;
  margin:0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

html, body {
  height: 100%;
}
