@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

@font-face {
  font-family: 'Cako';
  src: url('./font/Cako-Regular.eot');
  src: local('./font/Cako Regular'), local('./font/Cako-Regular'),
      url('./font/Cako-Regular.eot?#iefix') format('embedded-opentype'),
      url('./font/Cako-Regular.woff2') format('woff2'),
      url('./font/Cako-Regular.woff') format('woff'),
      url('./font/Cako-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cako';
  src: url('./font/Cako-Black.eot');
  src: local('./font/Cako Black'), local('./font/Cako-Black'),
      url('./font/Cako-Black.eot?#iefix') format('embedded-opentype'),
      url('./font/Cako-Black.woff2') format('woff2'),
      url('./font/Cako-Black.woff') format('woff'),
      url('./font/Cako-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Cako';
  src: url('./font/Cako-Thin.eot');
  src: local('./font/Cako Thin'), local('./font/Cako-Thin'),
      url('./font/Cako-Thin.eot?#iefix') format('embedded-opentype'),
      url('./font/Cako-Thin.woff2') format('woff2'),
      url('./font/Cako-Thin.woff') format('woff'),
      url('./font/Cako-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

:root {
  --yellow1: #ffd565;
  --yellow2: #f0deb0;
  --beige: #e4ddcd;
  --beigeDark: #b8ada0;
  --brown: #867d72;
  --black: #1e1e1e;
  --white1: #FFFCF2;
  --font-body-family: Assistant, sans-serif;
  --font-smono: 'Space Mono', monospace;
  --orangeDark: #c4531e;
}

* {
  box-sizing: border-box;
  margin:0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
.-flex {
  display: flex;
}
.-flexcol {
  display: flex;
  flex-direction: column;
}

.-acenter {
  align-items: center;
}

.-jcenter {
  justify-content: center;
}

.-btn-primary {
  border:none;
  background-color: transparent;
  padding: 0;
}
.-btn-primary:hover {
  cursor: pointer;
}