.w1__container {
  width: 90.5%;
  margin: 0 auto;
}
.w1__title {
  font-family: "Cako";
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.6px;
  line-height: 22px;
  margin: 22px 0;
}
.w1__description {
  width: 400px;
  font-family: var(--font-smono);
  font-size: 14px;
  letter-spacing: 0.7px;
  line-height: 24px;
  margin: 14px 0;
}
.w1__accordion-title {
  justify-content: space-between;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid var(--black);
}
.w1__accordion-title h2 {
  font-family: var(--font-smono);
  font-size: 15px;
  letter-spacing: 2.25px;
  font-weight: 400;
}
.w1__accordion-title span {
    position: relative;
    width: 20px;
    height: 20px;
}
.w1__accordion-title span::after {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    bottom: 0;
    right: 0;
    content: url(../../../src/assets/icons/plus-sign.svg)
}

.w1__accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.-content-active {
  height: auto;
  max-height: 500px;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.w1__left {
  flex: 1.1;
}

.w1__right {
  flex: 1;
}
