.w1__container {
  width: 90.5%;
  margin: 0 auto;
  min-height: 600px;
}

.w1__accordion-wrapper {
margin-bottom: 32px;
}

.w1__title {
  font-family: "Cako";
  color: var(--black);
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.6px;
  line-height: 22px;
  margin: 22px 0;
}
.w1__description {
  width: 450px;
  font-family: var(--font-smono);
  color: var(--black);
  font-size: 14px;
  letter-spacing: 0.7px;
  line-height: 24px;
  margin: 14px 0;
}
.w1__accordion-title {
  justify-content: space-between;
  width: 89%;
  height: 60px;
  border-bottom: 1px solid var(--black);
  color: var(--black);
}
.w1__accordion-title h2 {
  font-family: var(--font-smono);
  font-size: 15px;
  letter-spacing: 2.25px;
  font-weight: 400;
  color: var(--black);
}
.w1__accordion-title span {
  position: relative;
  width: 20px;
  height: 20px;
}
.w1__accordion-title span::after {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  bottom: 0;
  right: 0;
}
.w1__icon-plus{
    content: url(../../../src/assets/icons/plus-sign.svg);
}
.w1__icon-minus{
    content: url(../../../src/assets/icons/minus-sign.svg);
}
.w1__accordion-content {
  overflow: hidden;
  font-family: var(--font-smono);
  letter-spacing: 0.6px;
  line-height: 28.8px;
  color: var(--black);
}
.w1__accordion-content[aria-expanded="false"] {
  max-height: 0px;
  transition: all 1.4s cubic-bezier(0, 1, 0, 1);
}
.w1__accordion-content[aria-expanded="true"] {
  display: flex;
  max-height: 1000px;
  transition: max-height 1.4s ease-in;
}

.w1__accordion-content p {
    padding: 10px 0;
}

.accordion__recipes {
    font-family: var(--font-smono);
    border-bottom: 1px solid var(--black);
    color: var(--black);
    padding: 2px 0;
    letter-spacing: 0.6px;
}
.w1__left {
  flex: 1;
}

.w1__right {
  flex: 1;
  background-color: white;
  min-height: 600px;
}
.w1__right:hover {

}
