.w1__container {
  width: 90.5%;
  margin: 0 auto;
  min-height: 620px;
  margin-bottom: 25px;
}

.w1__accordion-wrapper {
  margin-bottom: 32px;
}

.w1__title {
  font-family: "Cako";
  color: var(--black);
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.6px;
  line-height: 22px;
  margin: 22px 0;
}
.w1__description {
  width: 450px;
  font-family: var(--font-smono);
  color: var(--black);
  font-size: 14px;
  letter-spacing: 0.7px;
  line-height: 24px;
  margin: 14px 0;
}
.w1__accordion-title {
  justify-content: space-between;
  width: 89%;
  height: 60px;
  border-bottom: 1px solid var(--black);
  color: var(--black);
}
.w1__accordion-title h2 {
  font-family: var(--font-smono);
  font-size: 15px;
  letter-spacing: 2.25px;
  font-weight: 400;
  color: var(--black);
}
.w1__accordion-title span {
  position: relative;
  width: 20px;
  height: 20px;
}
.w1__accordion-title span::after {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  bottom: 0;
  right: 0;
}
.w1__icon-plus {
  content: url(../../../src/assets/icons/plus-sign.svg);
}
.w1__icon-minus {
  content: url(../../../src/assets/icons/minus-sign.svg);
}
.w1__accordion-content {
  will-change: height;
  width: 89%;
  overflow: hidden;
  font-family: var(--font-smono);
  letter-spacing: 0.6px;
  line-height: 28.8px;
  color: var(--black);
  height: 0px;
  transition: height 0.5s ease-in;
}

.expanded {
  height: 212px;
}

.w1__accordion-content p {
  padding: 10px 0;
}

.accordion__recipes {
  font-family: var(--font-smono);
  border-bottom: 1px solid var(--black);
  color: var(--black);
  padding: 2px 0;
  letter-spacing: 0.6px;
}
.w1__left {
  flex: 1;
}

.w1__right {
  flex: 1;
  min-height: 600px;
  transition: all 0.3s ease-in;
}
.w1__right:hover {
  background-color: var(--beigel);
}

.-title-bottle {
  margin: 8px 0;
}
.-des-bottle {
  width: fit-content;
  margin: 10px 0 15px 0;
}

.w1__img-container {
  position: relative;
  height: 435px;
  width: 100%;
  margin-top: 25px;
}
.w1__img-container img {
  position: absolute;
  margin: auto;
}

.w1__circle-bg {
  content: url(../../assets/images/glowing-bg.webp);
  width: 100px;
  transition: all 0.65s ease-out;
  z-index: 1;
  top: -50px;
  bottom: 0;
  left: 0;
  right: 0;
}
.w1__bottle {
  width: 275px;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.w1__right:hover .w1__circle-bg {
  transform: rotate(-25deg);
  scale: 4;
}

.-star_accordion {
  margin: 55px auto;
}